    <div class="footer" style="background-color:#0056b3 ;color:white;"
    <div class="footer-content">
        <div class="copyright">
            &copy; 2023 HarmonyWave. All Rights Reserved.
        </div>
        <div class="contact-info">
            <a href="mailto:contact@harmonywave.com">contact@harmonywave.com</a>
            <span>|</span>
            Phone: +1-123-456-7890
        </div>
    </div>

</body>
</html>